<div class="container-fluid">
    <div class="row" ng-if="userName() != ''">
      <div class="col-md-2">
        <!--Sidebar content-->
        Search: <input ng-model="query">  <br /> <br />
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Name</option>
          <option value="type">Type</option>
        </select>

      </div>
      <div class="col-md-10">
        <!--Body content-->
                                 
        <ul class="phones">
          <li ng-repeat="car in cars | filter:query  | orderBy:orderProp" class="thumbnail">
            <a href="#/RentCarApp/cars/{{car.id}}" class="thumb"><img ng-src="{{car.imageUrl}}"></a>
            <a href="#/RentCarApp/cars/{{car.id}}">{{car.name}} ({{car.type}})</a>
            <p>{{car.desc}}</p>
            Rent for: 
            <select ng-model="duration">
              <option value="day">Day</option>
              <option value="week">Week</option>
              <option value="month">Month</option>
            </select>
            <button ng-click="rentCar(car.id,duration)" ng-if="!carRented(car.id,duration)">Rent</button>
            <button ng-click="returnCar(car.id,duration)" ng-if="carRented(car.id,duration)">Return</button>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="container-fluid" ng-if="userName() == ''">
    <br />
    <pre>You must first login or register to start car administration.</pre>
  </div>